<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ page.description | default: site.description | truncatewords: 50 }}">
<meta name="baseurl" content="{{ '/' | relative_url }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">

<script>window._EMOTICONS = {{ site.data.emoticons | jsonify }};</script>
<script src="{{ '/assets/js/emoticons.js' | relative_url }}"></script>

{% seo %}

<script>
(function() {
  var msg = "Bem-vindos ao blog do Edwinnrm";
  var i = 0;
  setInterval(function() {
    var scroll = msg.substring(i) + " " + msg.substring(0, i);
    document.title = scroll;
    i = (i + 1) % msg.length;
  }, 300);
})();
</script>
