---
layout: default
---
<h3>Bem Vindos!</h3>
<p>Eu sou o <strong>Edwin</strong>!</p>
<img src="{{ '/assets/images/pixel.svg' | relative_url }}" alt="pixel art" style="width: 100%; max-width: 400px; height: auto; margin: 8px 0;">
<p>Este é um blog sobre tecnologia, jogos, pixel art, músicas e tudo o que eu achar interessante.</p>
<p>A ideia do blog é me forçar a criar o hábito de escrever e registrar as coisas que acho legais ao longo dos meus dias.</p>

<hr>
<hr>

<h3>Últimas Atualizações</h3>
<ul style="padding-left: 20px; list-style: disc;">
  {% for post in site.posts limit:5 %}
    <li>
      {{ post.date | date: "%d %b %Y" }} - Novo Post: <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

{% if site.posts.size == 0 %}
  <p style="font-size: 11px; color: #808080;">Nenhuma postagem ainda.</p>
{% endif %}

